<h1>Job info</h1>
<h2><%= @inquiry.name %></h2>
<p>title: <%= @inquiry.title %></p>
<p>description: <%= @inquiry.description %></p>
<p>company: <%= @inquiry.company %></p>
<p>salary: <%= @inquiry.salary %></p>
<p>remote: <%= @inquiry.remote %></p>
<p>next_steps: <%= @photo.next_steps %></p>
<a href="/inquires">Back to all jobs</a>